<nav class="ui stackable grid">
  <header class="four wide column">
    <a href="/" class="logo"><i class="icon sticky note"></i> Bewk</a>
  </header>
  <section class="eight wide column"></section>
  <section class="four wide column">
    <nav class="ui grey three item stackable menu">
      <a href="/" id="home" class="item">Home</a>
      <a href="/bookmarks/" id="bookmarks" class="item">Bookmarks</a>
      <a href="/about/" id="about" class="item">About</a>
    </nav>
  </section>
</nav>

<script>
  $('#{{ id }}').addClass('active item');
</script>
