{{> menu id="home" }}

<section class="ui center aligned middle aligned segment noBorder">
  <h1 class="ui dividing center aligned icon header">
    <i class="circular icon smile"></i>
    Welcome to Bewk
  </h1>

  <p>
    Bewk is a smart and elegant way to store your bookmarks for easy access in the future.
    You can store your bookmarks in custom groups. Therefore all bookmarks can be organized the way you want
    them to be. You can also add as many bookmarks as you please, the possibilities are endless.
  </p>

  <p>
    This project was built as part of the Web Development 2 module and it shows a basic understanding of JavaScript,
    Databases, and Semantic UI.
  </p>

  <p>
    Please feel free to browse around and start adding your bookmarks. Simply click on <b>Bookmarks</b> on the
    menu above to begin.
  </p>

  <div class="ui centered segment counter">
    <p><i class="icon dashboard"></i> Total Bookmarks Served: {{ totalBookmarks}}</p>
  </div>

  <img src="/assets/img/nodejs.png" alt="Node.js Logo" class="ui centered small image">

</section>
